1
2
3
4
5
6
result/*
results/*
Result/*
RESULT/*
Results/*
script
Script
scripts/*
*Script
Record/*

*.eps
*.swp
*.o
*.d

bip
onion
reappearLLY
selectRandomUsers
similarity
tdpotn
onion_*
generatenet-*

temp/*
backup/*
obj/*

output*
*output

tags
